node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# VSCode
.vscode
.vscode/*
.vscode-test

# Node
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml
lerna-lock.json
.npmrc
.npmignore
.eslintrc.json
.eslintrc.js
.eslintrc.cjs
.prettierrc
.prettierrc.json
.prettierrc.js
.prettier.config.js
.stylelintrc
.stylelintrc.json
.stylelintrc.js
.stylelint.config.js
.tslint.json
.tsconfig.json
.tsconfig.app.json
.tsconfig.server.json
.tsconfig.build.json
.tsconfig.lib.json
.tsconfig.spec.json
.tsconfig.jsonc
.tsconfig.base.json
.tsconfig.node.json
.tsconfig.web.json
.tsconfig.browser.json
.tsconfig.test.json
.tsconfig.prod.json
.tsconfig.dev.json
.tsconfig.prod.ts
.tsconfig.dev.ts
.tsconfig.prod.js
.tsconfig.dev.js
.tsconfig.prod.cjs
.tsconfig.dev.cjs
.tsconfig.prod.mjs
.tsconfig.dev.mjs

/../generated/prisma

# SvelteKit
.svelte-kit
.svelte-kit/*
.svelte-kit/output
.svelte-kit/output/**
.svelte-kit/output/client
.svelte-kit/output/server
.svelte-kit/output/server/**
.svelte-kit/output/server/manifest.json

build
.eslintcache