node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/../generated/prisma

# SvelteKit
.svelte-kit
.svelte-kit/*
.svelte-kit/output
.svelte-kit/output/**
.svelte-kit/output/client
.svelte-kit/output/server
.svelte-kit/output/server/**
.svelte-kit/output/server/manifest.json
/static/uploads